@using System.Linq;
@using NGA.UI.Models;
@using Microsoft.AspNetCore.Routing;
<!DOCTYPE html>
<html>
<head>
    <!-- ad -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6574104985269682"
            crossorigin="anonymous"></script>

    <meta name="referrer" content="no-referrer" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    </environment>

    <style>
        html, body {
            height: 100% !important;
        }

        .main-footer {
            margin: 0px !important;
            height: 5%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ads1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6574104985269682"
         data-ad-slot="2201344780"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <environment include="Development">
        <script src="~/js/vue.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/vue.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
        <script src="~/js/common.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(function () {
            //table 选中高亮
            var $tbr = $('table tbody tr');
            /*点击每一行时也触发该行的选中操作*/
            $tbr.click(function () {
                $tbr.removeClass("info");
                /*调整选中行的CSS样式*/
                $(this).toggleClass("info");
                /*阻止向上冒泡，以防再次触发点击操作*/
                event.stopPropagation();
            });
        });
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };
        Vue.filter('time', function (value) {
            var newDate = new Date();
            newDate.setTime(value * 1000);
            return newDate.Format("yyyy-MM-dd hh:mm:ss");
        })
    </script>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
