@model IEnumerable<string>;
@{
    Layout = "~/Views/Shared/_LayoutNoTheme.cshtml";
    ViewData["Title"] = "积累点滴";
}
<link rel="stylesheet" href="~/css/Topic/List.css" asp-append-version="true" />
<div class="container-fluid">
    <br>
    <div id="list" class="panel panel-default" v-cloak>
        <!-- Default panel contents -->
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="key" v-on:keyup.13="paging(1)"
                               placeholder="ID/标题">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" v-on:click="paging(1)">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <tr class="trrow" v-for="item in data">
                <td class="reply">
                    <a target="_blank" v-bind:href="'Topic/'+item.Tid">{{ item.Tid }}</a>
                </td>
                <td class="title"><a target="_blank" v-bind:href="'Topic/'+item.Tid">{{ item.Title }}</a></td>
                <td class="updatetime">{{ item.UpdateTime }}</td>
                <td :class="item.Replies < 50 ? 'replaynum':'replaynumred'">{{ item.ReptileNum }}</td>
            </tr>
        </table>
        @await Html.PartialAsync("_PagerPartial")
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version </b>1.0.0
            </div>
            Copyright 2016 All Rights Reserved 版权所有 <a href="https://beian.miit.gov.cn/">蜀ICP备17020276号-1</a>
        </footer>
    </div>
</div>

<script>
    var topics = new Vue({
        el: '#list',
        data: {
            data: [],
            key: "",
            pageIndex: 1,
            totalPages: 0,
            totalCount: 0,
        },

        beforeCreate: function () {
            var url = "/api/Topic/List";
            var _self = this;
            $.get(url, {}, function (d) {
                _self.data = d.Data;
                _self.totalPages = d.TotalPages;
                _self.totalCount = d.TotalCount;
                _self.$nextTick(function () {
                    $("tr:last").children().css("border-bottom", "1px solid #ddd");
                })
            })
        },
        methods: {
            paging: function (page) {
                var url = "/api/Topic/List";
                var _self = this;
                var parm = { pageIndex: page, Key: _self.key };
                _self.pageIndex = page;                
                $.get(url, parm, function (d) {
                    _self.data = d.Data;
                    _self.totalPages = d.TotalPages;
                    _self.totalCount = d.TotalCount;
                    _self.$nextTick(function () {
                        document.documentElement.scrollTop = document.body.scrollTop = -200;
                    });
                })
            },
        }
    });
</script>



