<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogToConsole="true">
	<extensions>
		<add assembly="NLog.Extensions.Logging" />		
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="AsyncWrapper" name="console">
			<target xsi:type="Console">
				<layout xsi:type="JsonLayout">
					<attribute name="traceId" layout="${whenEmpty:whenEmpty=:inner=${activity:traceId}}" />
					<attribute name="spanId" layout="${whenEmpty:whenEmpty=:inner=${activity:spanId}}" />
					<attribute name="timestamp" layout="${longdate:universalTime=true}Z" />
					<attribute name="level" layout="${level}" />
					<attribute name="application" layout="${appdomain:format={1\}}" />
					<attribute name="url" layout="${aspnet-request-url}" />
					<attribute name="headers" encode="false" layout="${aspnet-request-headers:OutputFormat=JsonDictionary}" />
					<attribute name="requestId" layout="${aspnet-traceidentifier}" />
					<attribute name="message" layout="${message} ${exception:format=tostring}" />
					<attribute name="properties" encode="false">
						<layout type="JsonLayout" includeAllProperties="true" maxRecursionLimit="7" />
					</attribute>
				</layout>
			</target>
		</target>
	</targets>
	<rules>
		<logger name="System.Net.Http.HttpClient.*" final="true" />
		<logger name="Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware" final="true" />
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
