name: Deploy
on:
  workflow_dispatch:
  push:
    branches:
      - "master"
jobs:
  docker:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push NGA.Consumer image
        uses: docker/build-push-action@v6
        with:
          context: ./src
          file: ./src/NGA.Console/Dockerfile
          push: true
          tags: jfwangncs/ngb:${{ github.run_number }}
