name: WebCI
on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - "src/NGA.Web/**"
      - ".github/workflows/web-ci.yml"

jobs:
  docker:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push NGA.Web image
        uses: docker/build-push-action@v6
        with:
          context: ./src/NGA.Web
          file: ./src/NGA.Web/Dockerfile
          push: true
          tags: |
            jfwangncs/ngb-web:${{ github.run_number }}
